@charset "UTF-8";
/*
0 - 600px : phone 
600 - 900px : tablet portrait
900 - 1200 : tablet landscape
1200 - 1800 : normal style 
> 1800 big desktop 

- phone 
- tab-port
- tab-land
- big desktop
1em = 16px
*/
.heading__section { font-size: 2.5rem; font-weight: bolder; margin-bottom: 1.5rem; }

.heading__main { color: dodgerblue; font-size: 2rem; font-weight: bold; }

.heading__sub { font-size: 1.7rem; font-weight: bolder; color: #646f6f; margin-bottom: 2rem; }

.heading__subBig { font-size: 1.8rem; font-weight: bolder; color: black; margin-bottom: 2rem; }

.heading__mainSection { position: relative; display: inline; padding: 10px 20px; font-size: 28px; line-height: 32px; text-transform: uppercase; font-weight: 600; border: 2px solid #898ba2; }

.heading__mainSection::before { content: ''; position: absolute; left: 50%; top: 0; display: block; width: 30px; height: 30px; margin-top: -16px; margin-left: -15px; background: #f4f4f4; }

.heading__mainSection::after { content: ''; position: absolute; left: 50%; top: 0; display: block; width: 12px; height: 12px; margin-top: -7px; margin-left: -6px; background: #898ba2; }

.heading__Xlsection { font-size: 5rem; font-weight: bolder; margin-bottom: 1.5rem; }

.heading__bigSection { font-size: 2.4rem; margin-top: 1rem; }

.heading__lightSection { font-weight: lighter; font-size: 2.3rem; }

.link__small { font-size: 1.5rem; font-weight: bold; color: black; text-decoration: none; background-color: white; padding: 1rem 2.2rem; margin: -1rem; border-radius: 20px; transition: all 0.4s ease-in; }

.link__small:hover { color: white; text-decoration: none; background-color: dodgerblue; }

.link__simple { font-size: 1.2rem; font-weight: bold; color: #ffffff; text-decoration: none; transition: all 0.4s ease-in; }

.link__simple:hover { color: dodgerblue; }

.smallLink { border: 1px solid white; padding: 1rem 0rem; list-style: none; text-align: center; }

.smallLink li { display: inline-block; margin: 1rem; }

.btn-drop { font-weight: bold; color: #fff; width: 93%; font-size: 1.6rem; padding: 0.7rem 0rem; text-transform: uppercase; background-color: dodgerblue; border-color: dodgerblue; transition: all 0.4s ease-in; }

.btn-drop:hover { color: black; text-decoration: none; background-color: white; border: none; }

.btn-rounded { border-radius: 9px; }

.btn-white { background-color: white; border: none; color: black; font-size: 1.3rem; font-weight: bold; transition: all 0.4s ease-in; }

.btn-white:hover { color: dodgerblue !important; background: white !important; border: none !important; }

.btn-project { font-size: 1.5rem !important; font-weight: bold; margin-right: 2rem; }

.btn-big { width: 40%; margin: 0 auto !important; font-size: 1.7rem !important; font-weight: bold; /* border-radius: 12px; */ margin-top: 1rem; box-shadow: 1px 1px 23px grey; background-color: #31b0d5 !important; border-color: #269abc !important; }

.bgMain { background-color: dodgerblue; color: white; }

.bgGrey { background-color: #a1a1a1db; }

.pWhite { color: white !important; }

.smHr { border: 0; width: 18vw; margin: 3rem auto; margin-bottom: 3rem !important; border-top: 2px solid white; }

.fa-heart { color: red; font-size: 2.5rem; }

.blackRight { color: black !important; text-align: left; }

.bolder { font-size: bolder; }

.sort { color: white; font-size: 2.5rem; margin-right: 1rem; }

.blackHr { margin-top: 20px; margin-bottom: 21px; border: 0; width: 67%; margin-left: 1rem; border-top: 3px solid #000; }

.descriptionLink { font-size: 1.7rem; color: black; text-decoration: none; transition: all 0.3s ease-in; }

.descriptionLink:hover { color: dodgerblue; text-decoration: none; }

.priceTag { font-weight: bolder; margin: 2rem 0rem; font-size: 1.8rem; }

.leftText { text-align: left !important; }

.leftText .col-md-6 { margin-bottom: 1rem !important; }

.btnForm { border: white; padding: 0.5rem 2rem; color: white; font-size: 1.7rem; background: dodgerblue; }

.btnForm--big { padding: 1rem 2rem; font-size: 2rem; }

.btnForm--big { border: white; color: white; background: dodgerblue; padding: 1rem 2rem; font-size: 2rem; }

.btnBalcony { background-color: transparent; border: none; color: black; padding: 1rem; font-weight: bold; transition: all 0.3s ease; }

.btnBalcony:hover { text-decoration: none; color: dodgerblue; }

.lighter { font-weight: lighter !important; }

.no-border { border: none; color: #269abc; position: absolute; left: -4rem; top: 0rem; z-index: 2; background: transparent; }

.relative { position: relative; }

.widthbig { width: 108% !important; }

.urgentBtn { padding: 1rem 2.5rem; background: red; border: none; border-radius: 5px; font-size: 1.2rem; font-weight: bold; }

.preBtn { padding: 1rem 1.6rem !important; background: #007db7; border: none; border-radius: 5px; font-size: 1.2rem !important; font-weight: bold; }

@media only screen and (max-width: 380px) { .btn-big { font-size: 1.2rem !important; }
  .heading__mainSection { padding: 20px 20px; font-size: 2rem; } }

@media only screen and (max-width: 620px) { .latest__main--text { width: 38vh; position: relative; top: 4rem; height: 13rem; } }

.center { text-align: center; }

.left { text-align: left; }

.sm-pad { padding: 0.5rem; }

.mMg { margin-top: 0.5rem; font-size: 1.7rem; }

.padb { padding-bottom: 5rem !important; }

.right { text-align: right; margin-top: 1rem; }

.pRight { text-align: right; }

.m-pad { padding: 3rem 0rem; }

.border { border: 1px solid grey; }

.padS { padding: 1rem; }

.bgGrey { background-color: #f0f0f0; height: fit-content; /* width: 93%; */ /* margin: 0 auto; */ border: 2px solid gray; padding-bottom: 3rem; }

.bgGreyS { background-color: #cac9c9e8; padding: 0rem; }

.bgWhite { background-color: white; margin-bottom: 1rem; }

.bottomPos { position: absolute; background-color: rgba(30, 160, 255, 0.690196); bottom: 0rem; width: 100%; padding: 1rem 0rem; height: auto; text-align: center; left: 14px; }

.mgTop { margin-top: 3rem; }

.mgTopXl { margin-top: 8rem; }

.specialMargin { margin-top: -3rem; }

.Tmargin { margin-top: -19rem; }

.mgBottom { margin-bottom: 3rem; }

.img-fluid { max-width: 100%; height: auto; }

.img-fluidS { max-width: 100%; }

.minMarginBottom { margin-bottom: -1rem; }

@media only screen and (max-width: 991px) { .img-fluidS { max-width: 50%; } }

@media only screen and (max-width: 991px) { .specialMargin { margin-top: 2rem; }
  .Tmargin { margin-top: 2rem; }
  .minMargin { margin-left: 5rem !important !important !important; }
  .paddingM { padding: 0rem 5rem !important; } }

@media only screen and (max-width: 767px) { .property .dropdown .btn { margin-bottom: 1rem !important; } }

.noMargin { margin-left: 0rem !important; }

.search { width: 100% !important; }

.minMargin { margin-left: -3rem !important; }

.widthBig { width: 96% !important; }

.topBorderWhite { border: 1px solid gray; background-color: white; margin-top: 1.5rem; padding: 1rem; }

.centerRow { position: absolute; top: 40%; width: 100%; left: 50%; transform: translate(-50%, -50%); }

*, *::after, *::before { margin: 0; padding: 0; box-sizing: inherit; }

html { font-size: 62.5%; }

@media (min-width: 112.5em) { html { font-size: 75%; } }

@media (max-width: 75em) { html { font-size: 56.25%; } }

@media (min-width: 112.5em) { html { font-size: 56.25%; } }

@media (max-width: 56.25em) { html { font-size: 50%; } }

@media (min-width: 112.5em) { html { font-size: 50%; } }

@font-face { font-family: pixel; src: url(../fonts/BACKTO1982.TTF); }

@font-face { font-family: smallpix; src: url(../fonts/failedattempt.ttf); }

body { background-color: #e8e8e8a1; font-family: 'Arvo', serif; box-sizing: border-box; overflow-x: hidden; }

@media (max-width: 56.25em) { body { padding: 0; } }

@media (min-width: 112.5em) { body { padding: 0; } }

@media (max-width: 37.5em) { body { padding: 0; } }

@media (min-width: 112.5em) { body { padding: 0; } }

body::-webkit-scrollbar { width: 1em; }

body::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

body::-webkit-scrollbar-thumb { background-color: white; outline: 1px solid white; }

.navbar { text-align: center; padding: 2rem 0rem; font-size: 1.5rem; font-weight: bold; }

.navbar li { margin-left: 2rem; }

.navbar .btnNavbar { background-color: #03c2e7; color: white !important; transition: all 0.5s ease-in; font-weight: lighter !important; margin-left: 1.5rem; font-size: 1.4rem !important; border-radius: 3px; }

.navbar .btnNavbar:hover { background-color: dodgerblue !important; }

@media only screen and (max-width: 767px) { .navbar { padding: 2rem !important; }
  .btnNavbar { width: 25%; margin: 0 auto !important; }
  .navbar-header { padding: 0 7rem; } }

.navbar-default .navbar-collapse, .navbar-default .navbar-form { padding: 0rem 2rem; }

.header { background-image: url(../img/header.webp); background-size: cover; background-position: center; width: 100vw; height: 85vh; margin-top: 7rem; }

.property__quick { background-color: rgba(123, 123, 123, 0.79); margin-top: -32rem !important; padding: 2rem 2rem; color: white; }

.property__quick .media { margin-bottom: 2rem; font-size: 1.5rem; color: white; font-weight: bolder; }

.property__quick .media h5 { font-size: 2rem; }

.property__quick hr { margin-top: 1rem; margin-bottom: 2rem; border: 0; border-top: 4px solid #ffffffcf; }

.property__quick .col-md-11 .form-control { display: block; width: 100%; height: calc(2.25rem + 2px); padding: 2.0rem 3.5rem; font-size: 1.7rem; line-height: 1.5; color: #8f8c8f; margin-bottom: 1rem; }

.property__quick .col-md-1 { background-color: dodgerblue; margin-left: -1.4rem; padding: 1rem; text-align: center; border-radius: 2px; }

.property__quick .col-md-1 a { color: #f4f5f7; font-size: 1.5rem; }

.property__quick .btn-default { background-color: white !important; color: dodgerblue !important; }

.property__linksRow { border: 1px solid gray; }

.property__linksRow .col-md-2 { margin-right: -3rem; }

.property .dropdown { text-align: center; }

.property .dropdown .btn { cursor: pointer; color: black; background-color: white; border: none; border-radius: 10px; font-size: 1.7rem; margin-bottom: 2rem; font-weight: bolder; width: 95%; height: 4rem; margin-left: 0rem !important; }

.property .dropdown .btn:hover { color: white !important; background-color: dodgerblue !important; }

.property .dropdown .dropdown-menu.show { width: 93%; }

.property__image { color: white; }

.property__image__all { padding: 0rem 1rem; }

.property__image__all form { padding: 0rem 1.5rem 0rem 0rem; }

.property__image__all .form-control { font-size: 1rem; font-weight: bold; line-height: 1.5; margin-bottom: 2rem; }

.property__image__all .btn-property { border-radius: 2px !important; background: #3f8238 !important; color: white !important; border: none; transition: all 0.3s ease; width: 8rem !important; margin: 0 auto; font-size: 1rem !important; /* margin-left: 51%; */ }

.property__image__all .btn-property:hover { color: black !important; background: white !important; }

.property__image__all .btn-property span { display: inline; }

.property .carousel-indicators { bottom: 1px; }

.property .carousel-indicators li { position: relative; -ms-flex: 0 1 auto; flex: 0 1 auto; width: 1rem; height: 1rem; border-radius: 50%; }

.property .carousel-indicators .active { background-color: #fff; width: 1.6rem !important; height: 1.6rem !important; margin-top: -0.5rem; }

.projects .form-control { font-size: 1.3rem !important; border: none !important; font-weight: bold !important; }

.projects__list { list-style: none; }

.projects__list li { display: inline-block; border: 1px solid black; padding: 1rem; font-size: 1.7rem; margin-left: -0.3rem; margin-top: 1rem; font-weight: bold; text-align: center; }

.projects__advertising { text-align: center; background: white; padding: 1rem 0rem; border: 1px solid; margin: 3rem 0rem; }

.projects__advertising img { padding: 2rem 1rem; }

.holiday { width: 93%; margin: 3rem auto; }

.holiday__div { position: relative; background-size: cover; background-position: center; width: 100%; height: 45vh; text-align: center; font-size: 1.5rem; color: white; font-weight: bolder; margin-bottom: 1rem; }

.holiday__div--1 { background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(57, 53, 57, 0.2)), url(../img/header.webp); }

.holiday__div--2 { background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(57, 53, 57, 0.2)), url(../img/header.webp); }

.holiday__div--3 { background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(57, 53, 57, 0.2)), url(../img/header.webp); }

.holiday__div--4 { background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(57, 53, 57, 0.2)), url(../img/header.webp); }

.holiday__div--5 { background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(57, 53, 57, 0.2)), url(../img/header.webp); }

.holiday__row { background-color: white; border: 1px solid #d7cfcf; padding: 1rem 2rem; }

.latestFind__main { background-color: white; border: 1px solid lightgray; margin: 0 auto; }

.latestFind__row { padding: 4rem 0rem; }

.latestFind .card { margin-bottom: 1rem; border: 2px solid #d4caca; }

.latestFind .card-text { margin-bottom: 2rem; font-size: 1.2rem; font-weight: bold; }

.latestFind .card-body { padding: 1rem 2rem 3rem 2rem; border: 1px solid lightgray; background-color: white; }

.latestFind .card-btn { font-size: 1.3rem; background-color: white; color: dodgerblue; border: 2px solid dodgerblue; padding: 0.5rem 2rem; transition: all 0.5s ease-in; }

.latestFind .card-btn:hover { color: white !important; background: dodgerblue !important; }

.latestFind .carousel-indicators { position: absolute; bottom: 0rem !important; }

.latestFind .carousel-indicators li { width: 20px; height: 20px; border: 1px solid #888; background-color: #888 !important; }

.latestFind .carousel-indicators .active { background-color: dodgerblue !important; width: 25px !important; height: 25px !important; border-radius: 50%; }

.swiper-container { width: 100%; height: 300px; margin-left: auto; margin-right: auto; }

.swiper-slide { background-size: cover; background-position: center; }

.gallery-top { height: 80%; width: 100%; }

.gallery-thumbs { height: 20%; box-sizing: border-box; padding: 10px 0; }

.gallery-thumbs .swiper-slide { width: 25%; height: 100%; opacity: 0.4; }

.gallery-thumbs .swiper-slide-thumb-active { opacity: 1; }

.fit { width: 30% !important; background: white !important; }

td { padding: 0; background: white; }

.footer { background-color: #2065b4; }

.footer__all { padding: 3rem 10rem; }

.footer ul { list-style: none; }

.footer ul li { display: block; margin: 1rem; }

.footer ul li a { color: white; font-weight: bold; font-size: 1.7rem; transition: all 0.3s ease-in; }

.footer ul li a:hover { text-decoration: none; color: dodgerblue; }

@media only screen and (max-width: 767px) { .footer { text-align: center; } }

.bodyPage { background: white; }

.find { position: relative; color: white; height: 95vh; background-image: linear-gradient(to right bottom, rgba(30, 144, 255, 0.5), rgba(30, 144, 255, 0.1)), url(../img/home2.jpg); background-size: cover; background-position: center; background-attachment: fixed; text-align: center; padding: 4rem 5rem; }

.find--2 { height: auto; background-image: linear-gradient(to right bottom, rgba(30, 144, 255, 0.5), rgba(30, 144, 255, 0.6)), url(../img/find2.jpg); }

.find--2 h4 { margin: 3rem; }

.find--2 a { margin: 3rem 0rem !important; }

.find .form-inline { text-align: center; padding: 4rem 5rem; }

.find .form-control { font-size: 1.7rem; color: dodgerblue; }

.find .or { color: #ffffff; font-size: 2.5rem; font-weight: 700; margin: 20px auto; overflow: hidden; position: relative; text-align: center; width: 15%; z-index: 1; }

.find .or::before { margin-left: -50%; text-align: right; }

.find .or::after, .find .or::before { background-color: white; content: " "; height: 2px; position: absolute; top: 50%; width: 50%; overflow: hidden; }

.find .or::after, .find .or::before { background-color: #fff; content: "Â "; height: 2px; overflow: hidden; position: absolute; top: 50%; width: 50%; }

.ads { padding: 4rem 3rem 2rem 2rem; border-bottom: 2px solid grey; font-size: 2.5rem; margin: 0rem 5rem; }

.ads a { color: dodgerblue; }

.wrapper { width: 100% !important; height: auto; position: relative; padding: 5rem 5rem; }

.item { text-align: center; }

.property__img { position: relative; width: 100%; height: 17rem; background-size: cover; background-position: center; position: relative; margin-bottom: 1.5rem; font-size: 1.7rem; }

.property__img .posBottom { position: absolute; bottom: -7rem; width: 100%; padding-left: 2.5rem; /* padding: 1rem 2rem 0rem 3rem; */ text-align: left; }

.property__img .leftPos { text-align: right; }

.property__img .gray { text-align: right; /* padding: 6px 1rem; */ font-size: 1.3rem; /* text-align: right !important; */ }

.property__img .gray i { width: auto; /* width: 3rem; */ padding: 1rem; font-size: 1.4rem; margin-top: -3px; /* height: 3rem; */ background: rgba(72, 68, 68, 0.63); }

.property__sale { background-color: #c7eb36; color: white; font-size: 1.3rem; text-align: left; padding: 1rem; }

.property__imgSpan { background-color: rgba(68, 68, 68, 0.4); color: white; width: 3rem; font-size: 1.7rem; text-align: left; padding: 1rem 2rem; }

.property__price { font-size: bolder; margin: 0.5rem; }

.property a { margin-bottom: 0.5rem; }

.owl-dots { display: none; }

.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot { background: 0 0; border-radius: inherit; margin: 1.1px; background-color: #ffffff63; width: 3rem; font-size: 1.7rem !important; height: 3rem; border: 0.3px solid black !important; color: inherit; border: none; padding: 0 !important; font: inherit; }

.owl-theme .owl-nav { margin-top: 10px; position: absolute; right: 1rem; top: -9.5rem; }

.post { text-align: left; font-size: 1.5rem; color: #444; }

.post__img { margin-bottom: 2rem; }

.post .col-md-12 { margin-bottom: 2rem !important; }

.post img { height: 20rem; }

.post__text { margin-top: 1rem; font-size: 1.7rem; font-weight: bold; }

.post a { color: #444; }

.post__link { font-size: 2.2rem; margin: 3rem 0rem; }

.post__reading { color: #444; display: block; font-size: 1.7rem; border: 0.5px solid #444; border-radius: 1px; margin-bottom: 2rem; padding: 1rem 1rem; width: 80%; margin-top: 1.5rem; }

.footerPage { background-color: #21501c; color: white; }

.footerPage a { color: white !important; }

.footerPage a:hover { color: white; text-decoration: none; }

.footerPage ul { list-style: none; text-align: right; }

.footerPage ul li { display: inline-block; margin-right: 1rem; }

.footerDark { background-color: #101e0e; padding: 1rem 3rem; color: white; }

.footerDark .right { text-align: right; }

@media only screen and (max-width: 728px) { .posBottom { padding: 0rem !important; } }

@media only screen and (max-width: 420px) { .latest__main--text { width: 23vh; position: relative; top: 4rem; height: 15rem; } }

.headerHome { background-image: url(../img//header2.jpg); background-size: cover; background-attachment: fixed; background-position: center; width: 100vw; margin-top: -3rem; height: 85vh; margin-top: 7rem; }

.headerHome__form { margin-top: 7rem; margin-left: 8.2rem; width: 35.3vw; background: rgba(255, 251, 251, 0.63); color: #444444; font-size: 1.7rem; padding: 4rem 2rem; }

.headerHome__form .input-group { position: relative; margin-bottom: 1.5rem; width: 100%; }

.headerHome__form .submitButton { width: 100%; background: #01c5ef; border: none; font-size: 1.8rem; padding: 1.2rem; color: white; margin: 2rem 0rem; }

.headerHome__form .submitButton:hover { background-color: dodgerblue !important; }

.headerHome__form .form-control { color: dodgerblue; }

.headerHome__form .form-control:focus { border-color: dodgerblue; -webkit-box-shadow: inset 0 1px 1px dodgerblue; box-shadow: inset 0 1px 1px dodgerblue; }

@media only screen and (max-width: 728px) { .headerHome__form { width: 70vw; } }

.latest { text-align: center; padding: 6rem 0; }

.latest__main { margin-bottom: 2rem; border: 1px solid gray; padding-bottom: 0.8rem; color: #9a9898 !important; }

.latest__main--text { color: #9a9898 !important; font-weight: bold; background: gainsboro; padding: 1rem 2rem; }

.latest__main--text span { margin-right: 1.5rem !important; }

.latest__main--text i { margin-right: 1rem !important; }

.latest__main .btnUrgent { width: 2rem; height: 2rem; background: dodgerblue; padding: 1rem; color: white; }

@media only screen and (max-width: 728px) { .headerHome__form { margin: 0 auto; margin-top: 17vh; border-radius: 2rem; } }

.heightH { height: 142%; }

@media only screen and (max-width: 767px) { .displayNone { display: none; } }
